<div class="container">
<h1 class="text-success mt-5"> Angular + Spring Boot + MySQL</h1>
<form (ngSubmit)="createTask()">
<div class="row mt-5">
    <div class="col-6">
        <input type="text" class="form-control" [(ngModel)]="newTask.name" name="newTaskName">
       
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-success">
         Add Task
        </button>
    </div>
 </div>
 </form>
 <div class="row mt-5">
    <div class="col-6">
        <div *ngIf="!(AllTasks.length>0); else taskList">
            <h3>No Data</h3>
        </div>
        <ng-template #taskList>
            <ul class="list-group" *ngFor="let task of AllTasks;">
                <li class="list-group-item bg-secondary text-light">
                    <div class="row">
                        <div class="col-6 ">
                            <p>{{task.name}}</p>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-light" (click)="editedTask(task)">Edit</button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-light" (click)="deletedTask(task.id)"> Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-template>

    </div>
   
    

    
    <div class="col-6">
        <div *ngIf="editTask">
            <form (ngSubmit)="updatedTask()">
                 <label for="editName"><b>Edit Task</b></label>
                 <div class="form-group mt-3">
                 <input type="text" [(ngModel)]="updateTask.name" name="update" class="form-control" id="editName">   

                </div>
                <div class="form-group mt-3" >
                    <button type="submit" class="btn btn-success mx-4">Save</button>
                    <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
                </div>

            </form>
        </div>
    </div>

</div>


</div>

